[submodule "generics"]
	path = generics
	url = https://github.com/inphos42/generics.git

[submodule "windows/mman"]
	path = windows/mman
	url = https://github.com/witwall/mman-win32
[submodule "windows/zlib"]
	path = windows/zlib
	url = https://github.com/madler/zlib
